<div class="mb-3">
  <div class="curtain-card position-relative mx-auto rounded overflow-hidden">
    <div class="curtain p-3 bg-dark text-white position-absolute w-100 h-100 d-flex align-items-center">
      <div class="d-flex flex-wrap gap-2">
        <fa-icon [icon]="icon"></fa-icon>
        {{ title }}
      </div>
    </div>
    
    <div class="card h-100 rounded">
      <div class="card-body text-center d-flex align-items-center">
        {{ description }}
      </div>
    </div>
  </div>

  <ng-content></ng-content>
</div>