.nav {
    background-color: var(--bs-dark);
    height: 100vh;
    padding: 1rem;
    padding-left: 1.5rem;   
    min-width: 150px;
    flex-shrink: 0;
}

.nav-link {
    color: var(--bs-white);
    padding: 0.75rem 1rem;
    padding-left: 0.25rem;
    border-left: 4px solid transparent;
    transition: color 0.3s ease, padding-left 0.3s ease, border-color 0.3s ease;
    text-decoration: none;

    &:hover {
        color: var(--bs-secondary);
        border-left-color: var(--bs-secondary);
        padding-left: 0.5rem;
    }

    &.active {
        color: var(--bs-primary);
        border-left-color: var(--bs-primary);
        background-color: transparent;
        font-weight: 600;
        padding-left: 0.5rem;
    }
}