<section id="section1" class="mb-5">
    <h2>Section 1</h2>
    <p *ngFor="let item of [11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29]">Content...</p>
</section>
<section id="section2" class="mb-5">
    <h2>Section 2</h2>
    <p *ngFor="let item of [11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29]">More content...</p>
</section>
<section id="section3" class="mb-5">
    <h2>Section 3</h2>
    <p *ngFor="let item of [11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29]">And more...</p>
</section>
<section id="section4" class="mb-5">
    <h2>Section 4</h2>
    <p *ngFor="let item of [11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29]">Final section...</p>
</section>